# Assignment 3 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Personal Details:

In [29]:
# Details Student 1:
#Tal Ben Hamo
#318275104
#tal6678@gmail.com
# Details Student 2:
#Guy Mizrahi
#315444596
#guy15.mizrahi@gmail.com

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [3]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [4]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [5]:
# word net installation:

# unmark if you want to use and need to install
# !pip install wn
# !python -m wn download omw-he:1.4

In [6]:
# word net import:

# unmark if you want to use:
# import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [7]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
# !pip install hebrew_tokenizer

In [8]:
# Hebrew tokenizer import:

# unmark if you want to use:
# import hebrew_tokenizer as ht

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [10]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [11]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [12]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [13]:
### CountVectorizer Setup and Data Preprocessing

In [14]:
vectorizer = CountVectorizer(ngram_range=(1, 3), max_features=15000, max_df=0.5, min_df=2)
X_train_vec = vectorizer.fit_transform(df_train['story'])
X_train_set = pd.DataFrame(X_train_vec.toarray(), columns=vectorizer.get_feature_names_out())
y_train = df_train['gender']
X_train, X_validation, y_train, y_validation = train_test_split(X_train_set, y_train, test_size=0.2, random_state=42)

In [15]:
### Decision Tree Classifier and Evaluation

In [16]:
tree_classifier = DecisionTreeClassifier(random_state=42)
tree_classifier.fit(X_train, y_train)
y_validation_pred = tree_classifier.predict(X_validation)
f1_score_male = f1_score(y_validation, y_validation_pred, pos_label='m')
f1_score_female = f1_score(y_validation, y_validation_pred, pos_label='f')
average_f1_score = (f1_score_male + f1_score_female) / 2
print("F1 Score for Male:", f1_score_male)
print("F1 Score for Female:", f1_score_female)
print("Average F1 Score:", average_f1_score)

DecisionTreeClassifier(random_state=42)

F1 Score for Male: 0.832618025751073
F1 Score for Female: 0.43478260869565216
Average F1 Score: 0.6337003172233626

In [17]:
### Naive Bayes Classifier and Evaluation

In [18]:
naive_bayes_classifier = MultinomialNB()
naive_bayes_classifier.fit(X_train, y_train)
y_nb_validation_pred = naive_bayes_classifier.predict(X_validation)
f1_score_male_nb = f1_score(y_validation, y_nb_validation_pred, pos_label='m')
f1_score_female_nb = f1_score(y_validation, y_nb_validation_pred, pos_label='f')
average_f1_score_nb = (f1_score_male_nb + f1_score_female_nb) / 2
print("F1 Score for Male:", f1_score_male_nb)
print("F1 Score for Female:", f1_score_female_nb)
print("Average F1 Score:", average_f1_score_nb)

MultinomialNB()

F1 Score for Male: 0.9045643153526972
F1 Score for Female: 0.6229508196721311
Average F1 Score: 0.7637575675124142

In [19]:
### Cross-Validation

In [20]:
tree_classifier = DecisionTreeClassifier(random_state=42)
tree_classifier.fit(X_train, y_train)
naive_bayes_classifier = MultinomialNB()
naive_bayes_classifier.fit(X_train, y_train)
y_replaced = y_train.replace({"f": 0, "m": 1})
def cross_validate_and_get_mean_f1(classifier, features, target):
    f1_scores = cross_val_score(classifier, features, target, cv=5, scoring='f1')
    return f1_scores.mean()
mean_f1_dt = cross_validate_and_get_mean_f1(tree_classifier, X_train, y_replaced)
print("Cross Validation for Decision Tree Model:", mean_f1_dt)
mean_f1_nb = cross_validate_and_get_mean_f1(naive_bayes_classifier, X_train, y_replaced)
print("Cross Validation for Naive Bayes Model:", mean_f1_nb)

DecisionTreeClassifier(random_state=42)

MultinomialNB()

Cross Validation for Decision Tree Model: 0.8132927697132954
Cross Validation for Naive Bayes Model: 0.8724185455813137

In [23]:
### Test Data Prediction and DataFrame Creation

In [24]:
test_vec = vectorizer.transform(df_test['story'])
test_set = pd.DataFrame(test_vec.toarray(), columns=vectorizer.get_feature_names_out())
y_test_pred = naive_bayes_classifier.predict(test_set)
y_test_pred_series = pd.Series(y_test_pred)

df_dict = {
    'test_example_id': df_test['test_example_id'],
    'Story': df_test['story'],
    'Gender': y_test_pred_series
}

df_predicted = pd.DataFrame(df_dict)
df_predicted.head(20)

    test_example_id                                              Story Gender
0                 0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...      m
1                 1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...      m
2                 2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...      m
3                 3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...      m
4                 4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...      m
5                 5  בפעם האחרונה שהייתי מחוץ לארץ ישראל הייתי באפר...      m
6                 6  בשנת 2018 קיבלתי החלטה שאני מתחיל ללמוד לתואר ...      m
7                 7  בנובמבר האחרון הייתי עם חברים בטיול ים אל ים, ...      m
8                 8  לפני מספר חודשים, ביום שמש בהיר, קמתי בבוקר למ...      m
9                 9  אני לא בן אדם שנוטה לשתף בחייו האישיים, אבל או...      m
10               10  לפני כמה זמן בדרך הביתה שמעתי איך כלבים נובחים...      m
11               11  חיכיתי לסוף שנת הלימודים הרבה מאוד זמן , כדי ל...      m
12               12  השנה, שנת הקורונה הייתה בשבילי שנה עם הרבה זמן...      m
13               13  החוויה שלי מתחילה במכון הטכנולוגי חולון, אשר ש...      m
14               14  לפני פחות משנה יחסית בתחילת התפשטות הקורונה שע...      f
15               15  לפני כשנה מסרתי את אחד הדברים היקרים שהיו לי ב...      m
16               16  לפני כמעט שנה, מעט אחרי התפרצות הקורונה נסענו ...      m
17               17  בסוף הצבא החלטנו אני ועוד כמה חברים לעשות טיול...      m
18               18  החוויה הראשונה שאספר עליה היא שטסתי במשלחת גדו...      f
19               19  זה היה יום רגיל כמו בכל יום בשבוע, קמתי ב7 גמו...      m

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [23]:
df_predicted.to_csv('classification_results.csv',index=False)